{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link rel="stylesheet" href="{% static 'client/style.css' %}">
</head>
<body>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ error }}
    </div>
    {% elif message %}
    <div class="alert alert-success" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endif %}
    <div class="payment">
        <div class="bg"></div>
        <div class="card">
            <img src="{% static 'client/chip.png' %}" class="chip">
            <div class="logo"></div>
            <h2 class="bankName" contenteditable="true">Payment Gateway</h2>
            <form method="post" action="{% url 'client:payment_form' %}">
                {% csrf_token %}
                <div class="inputBox">
                    <span>Card No.</span>
                    <input type="text" name="card_number" placeholder="0213 1664 4645 7887" maxlength="19" required>
                </div>
                <div class="inputBox">
                    <span>Card Holder</span>
                    <input type="text" name="card_holder" placeholder="Your Name" required>
                </div>
                <div class="group">
                    <div class="inputBox">
                        <span>Valid Thru</span>
                        <input type="text" name="valid_thru" placeholder="MM/YY" maxlength="5" required>
                    </div>
                    <div class="inputBox">
                        <span>CVV</span>
                        <input type="password" name="cvv" placeholder="***" maxlength="4" required>
                    </div>
                </div>
                </div>
                <button type="submit" class="btn">Confirm And Pay</button>
            </form>
    </div>
</body>
</html>